<a href="https://colab.research.google.com/github/Riuchek/Python/blob/main/_Darlan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Parte 1 Sociedade do Anel

Bem vindos
#Inicio a analise de dados e tomada de decisão com Python

Data Science X Machine Learning X Deep Learning
#Data Science,Ciência de dados ou Análise de dados
É uma área multidisciplinar que estuda e analisa dados de fontes chamadas Datasets (conjunto de dados). É utilizado diversas técnicas e ferramentas para: Visualizar os Raw Data (Dados Brutos); Agrupar os dados desejados; Processa-los; Analisar; E por fim tomar uma decisão. A ciência de dados facilita a visualização dos problemas organizacionais por entender, analisar  os dados necessários, codificar os dados para auxiliar na tomada de  decisão final.

#Machine Learning(ML) ou aprendizado de Maquina

Por que Python?

Passos a se Seguir

Primeiro passo - Seleção dos Dados
Neste primeiro momento iremos utilizar o conjunto de dados Data Science Job Salaries
https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries/code?datasetId=2268489

Segundo passo - Import das bibliotecas necessarias

In [ ]:
import pandas as pd #manipulação e análise de dados
import numpy as np #manipulação de arrays e matrizes de dados numéricos
import matplotlib.pyplot as plt # criar gráficos e visualizações de dados
import seaborn as sns #estilos de gráficos mais atraentes e funcionalidades avançadas de análise de dados

#Terceiro passo - Verificação dos dados
work_year: Ano de pagamento do salario


---


   experience_level: Nivel de experiencia: EN Entry-level / Junior MI
Mid-level / Intermediate SE Senior-level / Expert EX Executive-level / Director


---


employment_type	Tipo de contrato: PT Part-time FT Full-time CT Contract FL Freelance

---


job_title: Cargo.

---
salary:total do salario Bruto

---


salary_currency: Moeda paga

---


salary_in_usd:salario em dolares

---


employee_residence:localidade do empregado

---


remote_ratio	quantidade do trabalho feito de forma remota: 0 No remote work (less than 20%) 50 Partially remote 100 Fully remote (more than 80%)

---


company_location	Localização da empresa

---


company_size:Tamanho da empresa: S menos de  50 employees (small) M 50 to 250 employees (medium) L mais de 250 employees (large)

In [ ]:
Dataframe = pd.read_csv("/content/drive/MyDrive/DataScienceSalario.csv")
#Para melhor entendimento e facilidade na hora de utilizar o conjunto de dados
# iremos utilizar um comando em python chamado Rename
# primeiro passamos o nome original da coluna, seguido por ':' e apos isso o nome que ira ficar no nosso conjunto de dados
# por exemplo ("work_year":"ano_trabalhado")
# por boas praticas nos nunca traduzimos ao pé da letra, e sim seguindo a logica por tras
DsSalario = Dataframe.rename(columns={"work_year": "Ano", "experience_level": "Senioridade", "employment_type": "Tipo_empregado","job_title":"Cargo","salary":"Salario",
                        "salary_currency":"Moeda","salary_in_usd":"Dolares","employee_residence":"Local_funcionario","remote_ratio":"remoto","company_location":"Local_empresa",
                        "company_size":"tamanho"})
Dataframe

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [ ]:
DsSalario

,Ano,Senioridade,Tipo_empregado,Cargo,Salario,Moeda,Dolares,Local_funcionario,remoto,Local_empresa,tamanho
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

Quarto Passo - Limpeza dos dados
#explicar como limpar dados teoricamente e mostrar na pratica

In [ ]:
#usaremos a função info() para verificar se existe alguma informação errada ou mal colocada
DsSalario.info()
# por não ter um numero nulo vamos verificar se tem duplicatas
duplicates = DsSalario.duplicated()
print("\nnumero de duplicatas: ", duplicates.sum())
#tem 1200 numeros duplicados então vamos eliminar eles
DsSalario.drop_duplicates(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2584 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ano                2584 non-null   int64
 1   Senioridade        2584 non-null   object
 2   Tipo_empregado     2584 non-null   object
 3   Cargo              2584 non-null   object
 4   Salario            2584 non-null   int64
 5   Moeda              2584 non-null   object
 6   Dolares            2584 non-null   int64
 7   Local_funcionario  2584 non-null   object
 8   remoto             2584 non-null   int64
 9   Local_empresa      2584 non-null   object
 10  tamanho            2584 non-null   object
dtypes: int64(4), object(7)
memory usage: 242.2+ KB

numero de duplicatas:  0

In [ ]:
DsSalario
#Agora vamos escolher quais dataset são inuteis para nossa visualização, que nesse caso sera "Moeda","Ano","Local_Funcionario" e  "Salario" por ter muitas moedas inflacionadas

,Ano,Senioridade,Tipo_empregado,Cargo,Salario,Moeda,Dolares,Local_funcionario,remoto,Local_empresa,tamanho
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [ ]:
Df = DsSalario.drop(columns=['Moeda','Ano','Local_funcionario','Salario'], axis=1)
Df

,Senioridade,Tipo_empregado,Cargo,Dolares,remoto,Local_empresa,tamanho
0,SE,FT,Principal Data Scientist,85847,100,ES,L
1,MI,CT,ML Engineer,30000,100,US,S
2,MI,CT,ML Engineer,25500,100,US,S
3,SE,FT,Data Scientist,175000,100,CA,M
4,SE,FT,Data Scientist,120000,100,CA,M
...,...,...,...,...,...,...,...
3750,SE,FT,Data Scientist,412000,100,US,L
3751,MI,FT,Principal Data Scientist,151000,100,US,L
3752,EN,FT,Data Scientist,105000,100,US,S
3753,EN,CT,Business Data Analyst,100000,100,US,L
3754,SE,FT,Data Science Manager,94665,50,IN,L

Quinto passo - Estudo dos Dados

In [ ]:
#Vamos começar a "plotar"(mostrar) os dados e ver oque podemos estudar com base neles

Sexto passo - Analise dos dados e Tomada de decisão

Parte 2 As duas torres

Agora vamos trabalhar com alguns filtros

Uso de filtros

Analise dos dados com filtro e tomada final de decisão

Parte 3 o Retorno do Rei

Vamos para um dataset mais real, onde precisamos fazer diversos filtros e limpezas de dados